alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias ~='cd ~'

alias du='du -h'

alias dirs='dirs -v'

alias gp='git push'
alias gs='git status'

alias ll='ls -Al'
alias ls='ls --color'

alias vdf='vagrant destroy -f'
alias vdfu='vagrant destroy -f && vagrant up'
alias vh='vagrant halt'
alias vs='vagrant status'
alias vssh='vagrant ssh'
alias vu='vagrant up'

alias aplay='ansible-playbook'

alias myip="curl http://ipecho.net/plain; echo"
