[user]
    email = jerry@jerryoftheyear.com
    name = Jerry Wardlow
    signingkey = AA33EBC5CCA5F962
[color]
    ui = true
[color "status"]
    changed = yellow
[core]
    editor = vim
    excludefile = /home/jerry/.gitignore_global
[push]
    default = upstream
[merge]
    conflictstyle = diff3
	tool = vimdiff
[alias]
    hist = log -20 --pretty=format:"%C(yellow)%h%Creset\\ %C(green)%ar%C(cyan)%d\\ %Creset%s%C(yellow)\\ [%cn]" --graph --decorate --all
    co = checkout
    br = branch
    cm = commit -m
    csm = commit -S -m
    cam = commit -a -m
    casm = commit -a -S -m
    branch-name = "!git rev-parse --abbrev-ref HEAD --"
    publish = "!git push -u origin $(git branch-name)"
    unpublish = "!git push origin :$(git branch-name)"
[url "git@github.com:"]
    insteadOf = gh:
[url "git@github.com:jerrywardlow/"]
    insteadOf = jw:
[url "git@bitbucket.org:"]
    insteadOf = bb:
[url "jerry@git.wolfdrama.com:"]
    insteadOf = wd:
[url "git@github.com:learntouselinux/"]
    insteadOf = lt:

[diff "ansible-vault"]
	textconv = ansible-vault view
