[user]
    email = jerry@jerryoftheyear.com
    name = Jerry Wardlow
    signingkey = AA33EBC5CCA5F962
[color]
    ui = true
[core]
    editor = vim
[push]
    default = upstream
[merge]
    conflictstyle = diff3
	tool = vimdiff
[alias]
    hist = log -20 --pretty=format:"%C(yellow)%h%Creset\\ %C(green)%ar%C(cyan)%d\\ %Creset%s%C(yellow)\\ [%cn]" --graph --decorate --all
    co = checkout
    br = branch
    cam = commit -a -m
    casm = commit -a -S -m
[url "git@github.com:"]
    insteadOf = gh:
