[user]
    email = jerry@jerryoftheyear.com
    name = Jerry Wardlow
[color]
    ui = true
[core]
    editor = vim
[push]
    default = simple
[merge]
    conflictstyle = diff3
[alias]
    hist = log -20 --pretty=format:"%C(yellow)%h%Creset\\ %C(green)%ar%C(cyan)%d\\ %Creset%s%C(yellow)\\ [%cn]" --graph --decorate --all
[url "git@github.com:"]
    insteadOf = gh:
